.login-form-container {
  width: 60%;
  background-color: white;
  .form-section-header {
    padding: 30px 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .auth-link {
      margin-right: 30px;
      font-size: 14px;
      color: #b0b0b0;
    }
    .signup-link {
      text-decoration: none;
    }
  }
  .login-form-wrapper {
    max-width: 380px;
    margin: 0 auto;
    padding-bottom: 40px;
    .login-form-title {
      font-weight: 500;
      font-size: 26px;
    }
    .login-button-container {
      display: flex;
      justify-content: center;
    }
  }
}
